/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 20px;
}

 h1, h2 {
  color: #343a40;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-list, .student-detail, .student-form {
  margin-bottom: 20px;
}

.student-list ul {
  list-style-type: none;
  padding: 0;
}

.student-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.student-list li:hover {
  background-color: #f1f3f5;
}

.student-list button {
  margin-left: 10px;
}

.student-detail, .student-form {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

button {
  margin-top: 10px;
}

.total-students {
  margin-top: 20px;
  margin-left: 70%;
  font-weight: bold;
}
.student_database{
  margin-left: 35%;
}
marquee{
  color: rgb(209, 14, 14);
}
